{% load i18n %}{% autoescape off %} 
{% load password_reset_template_load %}
Hi {{user.email}}, 

{% blocktranslate %}
You're receiving this email because you requested a password reset for your user account at NIPSS HMS.
{% endblocktranslate %} 

{% translate "Please click on the following link and choose a new password:" %}  
{% block reset_link %}

{% get_settings_var 'CUSTOM_PASSWORD_RESET' %}?uidb64={{ uid }}&token={{ token }}

{% endblock %} 
{% translate "Thanks you," %} 
team.
{%endautoescape %}

