{% extends 'nipps-templates/base.html' %}
{% load static %}


{% block title %}Patient List{% endblock %}

    {% block extra_css %}
    <style>
        .content {
            padding: 16px;
        }
        .content-text {
            
            display: flex;
            justify-content: center;
        }
        .no-doctor {
            display: flex;
            justify-content: center;
        }
        .list-users {
            display: flex;
            justify-content: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: black;
            color: white;
        }

       
    </style>
 </style>

 {% endblock %}
 
 
 {% block body %}

    <div class="content">
        <div class="list-users">
            <h2 >List of Doctors</h2>
        </div>
        {% if doctors %}
        <table>
            <thead>
                <tr>
                    <th>Firt Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Available?</th>
                    <th>View Details</th>
                </tr>
            </thead>
           
            <tbody>
                
                {% for doctor in doctors %}  
                <tr>
                    <td>{{ doctor.first_name }}</td>
                    <td>{{ doctor.last_name }}</td>
                    <td>{{ doctor.user.email }}</td>
                    <td>
                        {% if doctor.is_available %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>

                    <td><a href="{% url 'get_doctor' doctor.slug %}">Doctor Details</a></td>
                
                </tr>
            
                {% endfor %}
            </tbody>
           
        </table>
        {% else %}
        <div class="no-doctor">
            <p>No Doctor onboarded</p>
        </div>
        {% endif %}
    </div>

    {% endblock %} 