{% extends 'nipps-templates/base.html' %}
{% load static %}


{% block title %}Patient List{% endblock %}

    {% block extra_css %}
    <style>
        .content {
            padding: 16px;
        }
        .content-text {
            
            display: flex;
            justify-content: center;
        }
        .list-users {
            display: flex;
            justify-content: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: black;
            color: white;
        }

       
    </style>
 </style>

 {% endblock %}
 
 
 {% block body %}

    <div>

        <p>Oooops something went wrong</p>
    </div>

    {% endblock %} 