<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacist signup Email</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #007bff;">
                <h1 style="color: #fff;">NIPSS HOSPITAL</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p><strong> Hi, Your account on NIPSS Hospital MGT System has been created successfully.</strong></p>
                
                <p><strong>Your log in details are <br> Email: {{email}} and password: {{password}}</strong></p>
                <p>To log in, please click the button below:</p>
                <p><a href="http://localhost:8000" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Log in</a></p>
                <p>If the button doesn't work, you can copy and paste the following link into your browser:</p>
                <p>http://localhost:8000</p><br>
                <p>Best regards</p>
               
            </td>
        </tr>
    </table>
</body>
</html>
